<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>
<body>
        <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/products-add">Products</a></li>
            </ul>
        </nav>
    </header>

    <form action="/admin/products-add" method="post">
        <input type="text" name = "title" >
        <button type="submit">add product</button>

    </form>
</body>
</html>